<table>
  <td>
    <a rel="license" href="{{ episode.license.url }}">
      <img alt="{{ episode.license.name }}" src="{{ episode.license.imageUrl }}" style="vertical-align:middle"/>
    </a>
  </td>
  <td><strong>⬇ Downloads:</strong></td>
  {% for file in episode.files %}
    {% if file.asset.downloadable %}
    <td>
      <a href="{{ file.publicUrl("downloads", "buttonlist") }}">{{ file.asset.title }}</a> ({{ file.size|formatBytes }})
    </td>
    {% endif %}
	{% endfor %}
</table>
