{{ episode.summary }}<br/><br/>
{{ episode.player }}
<table>
 <tr><td><a rel="license" href="{{ episode.license.url }}"><img alt="{{ episode.license.name }}" src="{{ episode.license.imageUrl }}" style="vertical-align:middle"/></a></td>
 <td>[podlove-episode-downloads]</td></tr>
</table>
<h1>Sendungsnotizen</h1>
